parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    ignoreErrors:
        - '#Variable \$(userProvider|entityManager) in PHPDoc tag @var does not exist#'
