{% extends 'base.html.twig' %}

{% block title %}
	Galaxion
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>/mnt/c/xampp/htdocs/starship/src/Controller/MainController.php</code>
			</li>
			<li>Your template at
				<code>/mnt/c/xampp/htdocs/starship/templates/main/index.html.twig</code>
			</li>
		</ul>
	</div>	
{% endblock %}