<h2 id="combat-system">Combat System</h2>
<div class="my-4">
    In the game, combat takes place between the user's ship and the opponent in 
    <span class="text-primary">turns</span> until one of them is destroyed. The outcome of the battle depends on many factors, such as the 
    <span class="text-primary">ship's statistics</span>, the 
    <span class="text-primary">modules</span> they have, and the 
    <span class="text-primary">initiative</span>, which determines who attacks first.
</div>
<h5>The Course of the Fight</h5>
<div>
    Combat takes place in rounds, during which ships exchange attacks. Initiative determines which ship attacks first – 
    the one with the higher value of this statistic has the advantage. Each round consists of an attack by one ship and a response from the other. 
    Combat continues until one ship loses all of its life points (HP).
</div>
<h5 class="mt-4">Attacks</h5>
<div>
    Each turn, the attacker rolls to hit. The hit is based on the 
    <span class="text-primary">accuracy</span> stat - the higher the accuracy, the greater the chance of a successful attack. 
    When the attack is successful, the damage is calculated based on 
    <span class="text-primary">missile</span> and 
    <span class="text-primary">energy</span> weapons. This damage is reduced by the enemy's 
    <span class="text-primary">armor</span>, 
    <span class="text-primary">energy shields</span>, and 
    <span class="text-primary">defense systems</span>.
</div>
<h5 class="mt-4">Statistics</h5>
<div>
    After the fight, the user receives a detailed report that includes: 
    <ul class="battle-info">
        <li>The number of rounds the fight lasted</li>
        <li>How much HP the user and opponent have left</li>
        <li>The number of hit and missed attacks</li>
        <li>The total damage dealt by the user, divided into missile and energy damage</li>
        <li>The total damage received by the user, also divided into attack type</li>
    </ul>
</div>
<h5 class="mt-4">Victory Rewards</h5>
<div>
    Winning a battle earns you points rewards based on difficulty: 
    <ul class="battle-info">
        <li>Easy: 50 points</li>
        <li>Medium: 100 points</li>
        <li>Hard: 150 pooints</li>
    </ul>
</div>