<h2>Encyclopedia</h2>
<div class="my-4">
	Welcome to the Encyclopedia of Your
	<span class="text-primary">Spaceship</span>! This page is your source for all available
	<span class="text-primary">modules</span> and
	<span class="text-primary">upgrades</span>	that can transform your ship. Here you will find
	<span class="text-primary">descriptions</span>	of each module, their unique
	<span class="text-primary">features</span>, and the
	<span class="text-primary">bonuses</span> they offer. Additionally, this encyclopedia provides valuable intel on your 
	<span class="text-primary">enemies</span>. Here, you can explore detailed profiles of their ships, strengths, weaknesses, and key statistics that will help you prepare for battle.

	{# TODO: Write a text about the combat system #}
</div>
