<div class="module-links">
	<a href="#cockpit">Cockpit</a>
	<a href="#energy-weapon">Energy Weapon</a>
	<a href="#rocket-weapon">Rocket Weapon</a>
	<a href="#engine">Engine</a>
	<a href="#armor">Armor</a>
	<a href="#energy-shield">Energy Shield</a>
	<a href="#defence-system">Defence System</a>
	<a href="#foes" class="text-danger">Foes</a>
    <a href="#combat-system" class="text-purple">Combat System</a>
</div>