body {
    background-color: #b9b9b9;
}

footer {
    margin-top: auto;
    width: 100%;
}

body.auth-page {
    background-image: url('../images/auth_background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.login-form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 0.625rem;
    box-shadow: 0rem 0rem 0.625rem rgba(0, 0, 0, 0.1);
}

.form-signin input {
    border: 0.125rem solid #ccc;
    padding: 0.625rem;
    border-radius: 0.3125rem;
}

.form-signin input:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 5px rgba(13, 110, 253, 0.5);
}

.terms-container {
    background-color: #000000b3;
    padding: 1.25rem;
    border-radius: 0.625rem;
    max-width: 50rem;
    margin: auto;
}

.terms-container h1,
.terms-container p {
    color: white;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.8);
}


.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.d-flex.align-items-center.justify-content-center {
    height: 100vh;
}

.wrapper {
    display: flex;
    min-height: 100vh;
}

.flex-body {
    flex-grow: 1;
    margin-left: 2.1875rem;
    margin-right: 0.3125rem;
}

.sidebar-container {
    width: 3.75rem;
    position: fixed;
}

.footer-content {
    margin-left: 3.75rem;
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

.encyclopedia-image {
    width: 100%;
    height: 28.125rem;
    object-fit: fill;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link span {
    display: block;
    margin-top: 0.25rem;
}

.no-footer-margin .footer-content {
    margin: auto;
}

.spaceship-image-col img {
    height: auto;
    width: auto;
    max-height: 30rem;
    max-width: 100%;
    object-fit: contain;
}

.form-section {
    flex-grow: 1;
    margin-bottom: 0.5rem;
}

.container .row {
    display: flex;
    flex-wrap: wrap;
}

.container .col-md-4 {
    display: flex;
    flex-direction: column;
}

.equipment-image {
    max-width: 80%;
    max-height: 15rem;
    width: auto;
    height: auto;
    object-fit: contain;
}

.alert {
    margin-left: 3.75rem;
}

.battle-buttons {
    flex-wrap: wrap;
}

.battle-buttons a {
    min-width: 12.5rem;
}

@media (min-width: 768px) {
    .footer-content {
        margin-left: 6.25rem;
    }

    .flex-body {
        margin-left: 4.688rem;
        margin-right: 0.625rem;
    }

    .sidebar-container {
        width: 8.125rem;
    }

    .nav-link span {
        display: inline;
    }

    .nav-link i {
        font-size: 1.25rem;
    }

    .spaceship-container {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    .spaceship-details-col {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .spaceship-image-col {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .alert {
        margin-left: 8.125rem;
    }
}

@media (max-width: 767.98px) {
    .nav-link span {
        display: none;
    }

    .nav-link i {
        font-size: 1.75rem;
    }

    .footer-copyright {
        flex-direction: column;
        text-align: center;
    }

    .spaceship-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .spaceship-image-col {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spaceship-details-col {
        width: 100%;
    }

    .spaceship-image-col img {
        height: auto;
        max-width: 100%;
        max-height: 20rem;
    }

    .col-md-4 {
        width: 100%;
    }

    .text-center img {
        margin-top: 0.5rem;
    }
}

.bg-footer {
    background-color: #2b2b2b;
}

.table-encyclopedia {
    border: 0.125rem solid #000;
    border-radius: 0.3125rem;
}

.module-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.9375rem;
    margin-bottom: 1.25rem;
}

.module-links a {
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    color: #007bff;
}

.module-links a:hover {
    text-decoration: underline;
}

.text-purple {
    color: #800080;
}

.info-message {
    background-color: #e0f7fa;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #00695c;
}

.battle-info {
    text-align: left;
    margin-bottom: 5rem;
}

.battle-info h2 {
    margin-bottom: 1rem;
    color: #007bff;
}

.battle-info ul {
    margin-left: 2rem;
    list-style-type: disc;
}

.battle-info p {
    margin: 0.5rem 0;
}

.battle-info ul li {
    margin-bottom: 0.5rem;
}