<div class="d-flex">
    <div class="sidebar-container bg-dark">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                <li class="nav-item">
                    <a href="{{ path('homepage') }}" class="nav-link align-middle px-0 text-center">
                        <i class="bi bi-star"></i>
                        <span class="ms-1 d-none d-md-inline">Galaxion</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('shipyard') }}" class="nav-link align-middle px-0 text-center">
                        <i class="bi bi-rocket"></i>
                        <span class="ms-1 d-none d-md-inline">Shipyard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link align-middle px-0 text-center">
                        <i class="bi bi-rocket-takeoff-fill"></i>
                        <span class="ms-1 d-none d-md-inline">Fly on a mission</span>
                    </a>
                </li>
                {# TODO: Create a link to the Encyclopedia #}
            </ul>
        </div>
    </div>
</div>
