{% extends 'base.html.twig' %}

{% block title %}Terms and Conditions{% endblock %}

{% block body %}
<div class="terms-container">
    <h1>Terms and Conditions</h1>
    <p>
        This application is a demo project intended to showcase the developer's skills. The application is provided "as is" without any guarantees or warranties. By using this application, you acknowledge that the developer is not responsible for any data loss or other issues that may arise from its use.
    </p>
</div>

{% endblock %}