{% extends 'base.html.twig' %}

{% block title %}{{ level }} Fight{% endblock %}

{% block body %}
    <div class="text-center mt-4">
        <h2>Spaceship Duel with {{ foe.name }}</h2>
        <div class="my-4">
            {% block description %}
                <p>{{ description }}</p>
            {% endblock %}
        </div>
    </div>

    {% block spaceshipsStats %}
        {% include 'battle_system/spaceships_stats.html.twig' %}
    {% endblock %}

    {% block form %}
        {{ include('battle_system/form.html.twig') }}
    {% endblock %}

    {% block fightButton %}
        <div class="d-flex justify-content-center">
            <a href="#" class="disabled btn btn-secondary btn-lg battle-buttons mb-5 mx-2">Fight (Coming in the future)</a>
        </div>
	{% endblock %}
{% endblock %}