<h2>Shipyard</h2>
<div class="my-4 fs-4">
	Welcome aboard!
</div>
<div>
    Here you can develop and upgrade your first spaceship, becoming an increasingly powerful commander. At first, you command a small
    <span class="text-primary">corvette</span> equipped with basic weapons. You have
    <span class="text-primary">100 points</span> at your disposal, which you can spend on the first upgrades of your ship.
    Each successful mission will bring you additional points, which will allow you to further modify and buy new equipment. As you progress, you will be able to obtain a larger ship, a
    <span class="text-primary">frigate</span>, and equip it with advanced technologies. 
    If you want to learn more about the specifications of your ship and the available upgrades, we invite you to the    
    <a href="{{ path('encyclopedia') }}" class="text-primary text-decoration-none">Encyclopedia</a> section.    
</div>