{% extends 'base.html.twig' %}

{% block title %}
    Shipyard
{% endblock %}

{% block body %}
    <div class="text-center mt-4">
        {% block description %}
            {% include 'shipyard/description.html.twig' %}
        {% endblock %}
			
        {% block form %}
            {% include 'shipyard/form.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.componentCostsData = {
            {% for cost in costOfAllComponents %}
            '{{ cost.id }}': '{{ cost.cost|e('js') }}',
            {% endfor %}
        };
    </script>
    <script src="{{ asset('js/componentCosts.js') }}"></script>
{% endblock %}
